<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="ADN"/>
    	<meta name="description" content="Projet BP: version samanemvc"/>
		<title>Banque du Peuple</title>

		<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/style.css"/>
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
		<!-- integration de javascript dans le moteur de rendu de vue Smarty -->
		{literal}
			<script language=javascript>
			function load_design() {
			   document.getElementById("design_js").style.color = "#40007d";
			}

			</script>
		{/literal}
	</head>
	<body onload="load_design()">
		<header>
			<!--logo et nom banque-->
					<div class="logo">
						<img src="{$url_base}public/image/bplogo.png" alt="logo BP"/>
						<h2>Banque du Peuple</h2>
					</div>
			<!--end of logo et nom banque-->
			
			<!--nav-->               
				   <nav>
						<ul>
							<li><a href="{$url_base}">Accueil</a></li>
							<li class="dropdown">
								<a href="javascript:void(0)" class="dropbtn">Ajouter un client</a>
								<div class="dropdown-content">
								  <a href="{$url_base}ClientPhysique/index">Client Physique</a>
								  <a href="{$url_base}ClientMoral/index">Client Moral</a>
								</div>
							</li>
							<li><a href="{$url_base}Compte/index">Ajouter compte</a></li>
							<li class="dropdown">
								<a href="javascript:void(0)" class="dropbtn">Listes</a>
								<div class="dropdown-content">
								  <a href="{$url_base}ClientPhysique/liste">-Particuliers</a>
								  <a href="{$url_base}ClientMoral/liste">-Entreprises</a>
								  <a href="{$url_base}Compte/liste">-Comptes</a>
								</div>
							</li>
							<li><a href="{$url_base}virement/index">Virement</a></li>
							<li><a href="{$url_base}assistance/index">Assistance</a></li>
						</ul>
				   </nav>
			<!--end of nav--> 
		</header>
		
		<div class="container justify-content-center">
			<div class="row centered-form">
			<div class="col-xs-12 col-sm-8 col-md-10">
				<div class="panel panel-default">
					<div class="panel-heading">
							<h3 class="panel-title" style="text-transform: uppercase;"><i class="fa fa-user-circle"></i>  Formulaire de creation de Client Entreprise</h3>
							</div>
							<div class="panel-body">
								{if isset($ok)}
									{if $ok != 0}
										<div class="alert alert-success">Données ajoutées!</div>
									{else}
										<div class="alert alert-danger">Erreur!</div>
									{/if}
								{/if}
							<form method="POST" action="{$url_base}ClientMoral/add" id="formClientMoral">
			
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<input type="text" class="form-control input-sm" name="nom" id="nom" placeholder="Nom de l'Entreprise"/>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<input type="text" class="form-control input-sm" name="raisonSociale" id="raisonSociale" placeholder="Raison sociale"/>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<input type="text" class="form-control input-sm" name="email" id="email" placeholder="Email"/>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<input type="number" class="form-control input-sm" name="tel" id="tel" placeholder="Telephone"/>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<input type="text" name="adresse" id="adresse" class="form-control input-sm" placeholder="Adresse"/>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<input type="number" name="ninea" id="ninea" class="form-control input-sm" placeholder="Ninéa"/>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<input type="text" name="registreCommerce" id="registreCommerce" class="form-control input-sm" placeholder="Registre de Commerce"/>
										</div>
									</div>
								</div>
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group">
										<input type="submit" id="valider" name="valider" value="Valider" class="btn btn-success btn-block">
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group">
										<input type="reset" value="Annuler" class="btn btn-danger btn-block">
									</div>
								</div>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="{$url_base}public/js/scriptClient.js"></script>
	</body>
</html>