<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="ADN"/>
    	<meta name="description" content="Projet BP: version samanemvc"/>
		<title>Banque du Peuple</title>

		<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/style.css"/>
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
		<!-- integration de javascript dans le moteur de rendu de vue Smarty -->
		{literal}
			<script language=javascript>
			function load_design() {
			   document.getElementById("design_js").style.color = "#40007d";
			}

			</script>
		{/literal}
	</head>
	<body onload="load_design()">
		<header>
			<!--logo et nom banque-->
					<div class="logo">
						<img src="{$url_base}public/image/bplogo.png" alt="logo BP"/>
						<h2>Banque du Peuple</h2>
					</div>
			<!--end of logo et nom banque-->
			
			<!--nav-->               
				   <nav>
						<ul>
							<li><a href="{$url_base}">Accueil</a></li>
							<li class="dropdown">
								<a href="javascript:void(0)" class="dropbtn">Ajouter un client</a>
								<div class="dropdown-content">
								  <a href="{$url_base}ClientPhysique/index">Client Physique</a>
								  <a href="{$url_base}ClientMoral/index">Client Moral</a>
								</div>
							</li>
							<li><a href="{$url_base}Compte/index">Ajouter compte</a></li>
							<li class="dropdown">
								<a href="javascript:void(0)" class="dropbtn">Listes</a>
								<div class="dropdown-content">
								  <a href="{$url_base}ClientPhysique/liste">-Particuliers</a>
								  <a href="{$url_base}ClientMoral/liste">-Entreprises</a>
								  <a href="{$url_base}Compte/liste">-Comptes</a>
								</div>
							</li>
							<li><a href="{$url_base}virement/index">Virement</a></li>
							<li><a href="{$url_base}assistance/index">Assistance</a></li>
						</ul>
				   </nav>
			<!--end of nav--> 
		</header>
		
	<div class="container justify-content-center">
			<div class="row centered-form">
			<div class="col-xs-12 col-sm-8 col-md-10">
				<div class="panel panel-default">
					<div class="panel-heading">
							<h3 class="panel-title" style="text-transform: uppercase;"><i class="fa fa-money"></i>  Formulaire de creation de Compte</h3>
							</div>
							<div class="panel-body">
								{if isset($ok)}
									{if $ok != 0}
										<div class="alert alert-success">Données ajoutées!</div>
									{else}
										<div class="alert alert-danger">Erreur!</div>
									{/if}
								{/if}
							<form method="POST" action="{$url_base}Compte/add" id="formCompte">
								
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<select class="custom-select form-control input-sm" name="typeCompte" id="typeCompte">
												<option value="0" selected>Choisir le type de Compte</option>
												<option value="1">Compte Courant</option>
												<option value="2">Compte Epargne et Xewel</option>
												<option value="3">Compte Bloque</option>
											  </select>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<input type="text" class="form-control input-sm" name="numeroCompte" id="numeroCompte" placeholder="Numero de Compte"/>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<input type="number" class="form-control input-sm" name="fraisOuverture" id="fraisOuverture" placeholder="Frais d'Ouverture"/>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<input type="number" name="depotInitial" id="depotInitial" class="form-control input-sm" placeholder="Depot initial"/>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<input type="number" name="remuneration" id="remuneration" class="form-control input-sm" placeholder="Remuneration Annuelle"/>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<input type="number" name="agios" id="agios" class="form-control input-sm" placeholder="Agios"/>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<label for="cni">Date d'Ouverture</label>
											<input type="date" name="dateOuverture" id="dateOuverture" class="form-control input-sm" placeholder="date d'Ouverture"/>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<label for="cni">Date de Deblocage</label>
											<input type="date" name="dateDeblocage" id="dateDeblocage" class="form-control input-sm" placeholder="date de Deblocage"/>
										</div>
									</div>
								</div>
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group">
										<label for="cni">client associé</label><br>
											<button class="btn" id="entreprisebtn"><i class="fa fa-building"></i> Entreprise</button>
											<button class="btn" id="physiquebtn"><i class="fa fa-user-circle"></i> Particulier</button>
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group">										
											
										<input type="text" class="form-control input-sm" name="searchEntreprise" id="searchEntreprise"  onkeyup="searchValidEntreprise()" placeholder="saisir le numero de ninea"/>
										
                                    	<input type="text" class="form-control input-sm" name="searchPhysique" id="searchPhysique"  onkeyup="searchValidPhysique()" placeholder="saisir le numero de cin"/>
									</div>
									<div id="result">
            
                                    </div>
                                </div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12">
									{if isset($Mresults)}
										{if $Mresults != null}
											<table class="table table-bordered table-stripped">
												<tr>
													<th>Identifiant</th>
													<th>Nom</th>
													<th>Adresse</th>
													<th>Telephone</th>
													<th>Email</th>
													<th>Ninea</th>
													<th>Registre de Commerce</th>
												</tr>
												{foreach from=$Mresults item=Mresult}
													<tr>
														<td>{$result->getId()}</td>
														<td>{$result->getNom()}</td>
														<td>{$result->getAdresse()}</td>
														<td>{$result->getTelephone()}</td>
														<td>{$result->getEmail()}</td>
														<td>{$result->getNinea()}</td>
														<td>{$result->getRegiscom()}</td>                                       
													</tr>
												{/foreach}
											</table>
										{else}
											{$Mmessage}	
										{/if}
									{/if}
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12">
									{if isset($Presults)}
									{if $Presults != null}
										<table class="table table-bordered table-stripped">
											<tr>
												<th>Identifiant</th>
												<th>Nom</th>
												<th>Prenom</th>
												<th>Adresse</th>
												<th>Telephone</th>
												<th>Email</th>
												<th>Numero de CNI</th>
											</tr>
											{foreach from=$Presults item=Presult}
												<tr>
													<td>{$Presult->getId()}</td>
													<td>{$Presult->getNom()}</td>
													<td>{$Presult->getPrenom()}</td>
													<td>{$Presult->getAdresse()}</td>
													<td>{$Presult->getTelephone()}</td>
													<td>{$Presult->getEmail()}</td>
													<td>{$Presult->getIdentifiant()}</td>                                        
												</tr>
											{/foreach}
										</table>
									{else}
										{$Pmessage}
									{/if}
								{/if}
								</div>
							</div>
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group">
										<input type="submit" id="valider" name="valider" value="Valider" class="btn btn-success btn-block">
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group">
										<input type="reset" value="Annuler" class="btn btn-danger btn-block">
									</div>
								</div>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>

    <script src="{$url_base}public/js/scriptCompte.js"></script>
		
	</body>
</html>